<% @title="Internation Relations Department | IAAU" %>

<div id="wrapper" class='slide-cont'>

    <div class="slider-wrapper theme-default">
        <div id="slider" class="nivoSlider">
            <img src="<%= asset_path( 'slide/1.jpg' ) %>" data-thumb="<%= asset_path( 'slide/1.jpg' ) %>" alt=""/>
            <img src="<%= asset_path( 'slide/2.jpg' ) %>" data-thumb="<%= asset_path( 'slide/2.jpg' ) %>" alt="" title=""/>
            <img src="<%= asset_path( 'slide/3.jpg' ) %>" data-thumb="<%= asset_path( 'slide/3.jpg' ) %>" alt="" title=""/>
        </div>
    </div>
</div>

<h2>Faculty of Economics & Administrative Sciences</h2>
<p>
  Faculty of Economics and Administrative Sciences is composed of four departments which are the most popular departments in
  Kyrgyzstan: International Relations, Finance and Banking, Management, and International Economics. The graduates of our faculty,
  with a multidimensional background and high qualifications, and speaking English and Turkish in addition to Kyrgyz and Russian,
  easily find respectable jobs both in private and public sector. Abundant sources of information (e-books and academic journals)
  in digital format are available for our students to improve their knowledge and awareness of the world in an information age,
  within the form of student-centered education, supervised by our vigorous and watchful academic cadre, in a friendly and
  trustworthy intellectual ambiance.
</p>